* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header-main {
  background-color: #333;
}

.header-top {
  border-bottom: 1px solid #444;
}

.white-link a {
  color: white;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-toggler {
  background-color: white;
}

.hero-section {
  position: relative; /* Ensures the pseudo-element is positioned relative to this container */
  color: #fff;
  min-height: 100vh;
  padding-top: 56px;
  background-image: url("/assets/pexels-pixabay-164595.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 56px);
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Dark overlay with 50% opacity */
  z-index: -1; /* Places the overlay behind the content */
}

.btn-primary {
  background-color: #00b74a;
  border-color: #00b74a;
}
.btn-light {
  background-color: #f8f9fa;
  color: #333;
}

.fancy-box-01 {
  position: relative;
}
.fancy-box-01 .left-f {
  border: 10px solid;
  border-right: none;
  height: 100%;
  width: 3rem;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.fancy-box-01 .right-f {
  border: 10px solid;
  border-left: none;
  height: 100%;
  width: 3rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.bg-primary-light {
  background-color: rgba(248, 78, 119, 0.08);
}

.border-primary {
  border-color: #f84e77 !important;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-sm {
  line-height: 1.25 !important;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  color: #101010;
  letter-spacing: -0.02em;
}

.white-text .display-1,
.white-text .display-2,
.white-text .display-3,
.white-text .display-4 {
  color: #ffffff;
}

.fancy-box-01 {
  position: relative;
}
.fancy-box-01 .left-f {
  border: 10px solid;
  border-right: none;
  height: 100%;
  width: 3rem;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.fancy-box-01 .right-f {
  border: 10px solid;
  border-left: none;
  height: 100%;
  width: 3rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* rooms section */

.rooms-section {
  background-color: #f8f9fa; /* Light background for the section */
}

.rooms-section img {
  width: 100%;
  height: auto;
}

.rooms-section h3 {
  margin-top: 0;
  color: #333;
}

.no-gutters {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.rooms-section p,
.rooms-section ul {
  color: #666;
}

.rooms-section .btn-primary {
  margin-right: 10px; /* Space between buttons */
}

.rooms-section .btn-outline-primary {
  color: #007bff; /* Bootstrap primary color */
  border-color: #007bff; /* Consistent with outline color */
}

/* services section */
.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card-body {
  text-align: center;
}

.btn-primary {
  background-color: #ff5733; /* Custom primary color */
  border: none;
}

/* Adjusting heading styles */
.card-title {
  color: #ff5733;
  font-size: 1.25rem;
}

/* Gallery */

.card {
  border: none;
  background: #f8f9fa; /* Light background for the card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduced box shadow for a subtle effect */
}

.card-body {
  padding-left: 0; /* Standard padding for card body */
}

.card img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease; /* Smooth transform for hover effects */
}

.btn.position-absolute {
  background-color: transparent; /* Transparent background for the button */
  border: none;
  cursor: pointer; /* Cursor indicates the image/button is clickable */
}

.btn i.fa-play {
  color: #007bff; /* Bootstrap primary color for the play icon */
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5); /* Text shadow to make the icon stand out */
}

/* Testimonials */

.section-testimonials {
  background-color: #f8f9fa;
}

.card-body blockquote {
  font-style: italic;
  color: #555;
}

.card-body img {
  border: 3px solid #fff; /* White border around the image for better separation from background */
}

.blockquote-footer {
  color: #666;
  font-size: 0.875rem;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
