* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 0;
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-main.header-scrolled .header-top,
.header-main.header-scrolled .nav-link,
.header-main.header-scrolled .white-link a {
  color: #333 !important; /* Ensure this is more specific */
  transition: color 0.3s ease;
}

.header-main.header-scrolled {
  background-color: #f9f9f9; /* Creamy white background */
  transition: background-color 0.3s ease;
}

.header-main.header-scrolled .navbar-toggler {
  border-color: #333;
}

.white-link a,
.nav-link {
  color: #f9f9f9 !important;
  text-decoration: none;
}

.hero-section {
  position: relative;
  color: #fff;
  min-height: 100vh;
  padding-top: 56px;
  background-image: url("/assets/IMG-20240603-WA0046.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: -1;
}

.hero-section .text-center {
  position: relative;
  z-index: 2;
}

.hero-section p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.btn-secondary {
  background-color: #00b74a;
  border: none;
  color: #fff; /* Ensure text color is always white */
}

.btn-secondary:hover {
  background-color: #00802b;
  transition: background-color 0.3s ease;
}

.btn-sm {
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  border-radius: 0;
  background-color: #00b74a;
  font-weight: 500;
  border: none;
}

.btn-lg {
  padding: 1rem 1.875rem;
  font-size: 1rem;
  border-radius: 0;
}

.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

h1 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 600;
  line-height: 1.2;
}

/* .btn-primary {
  background-color: #00b74a;
  border-color: #00b74a;
} */

.btn-light {
  background-color: #f8f9fa;
  color: #333;
}

/* Spacing between navigation links */
.navbar-nav .nav-item {
  margin-right: 1rem;
}

/* Increase the space before the 'Call now' button */
.extra-menu {
  margin-left: 2rem; /* Adjust as needed to push it further right */
}

/* Ensure the last item (Contact Us) doesn't have additional margin on the right */
.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

/* Hover effect for navigation links */
.nav-link:hover {
  color: #c0c0c0 !important;
}

/* Hover effect for 'Contact Us' link in the nav menu for visual distinction */
.nav-item.contact-btn a:hover {
  color: #fff;
}

.header-main {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.header-scrolled {
  backdrop-filter: blur(0px); /* Remove the blur when scrolled */
  background-color: #f9f9f9; /* Change to a solid color on scroll */
}

.header-scrolled .nav-link,
.header-scrolled .white-link a {
  color: #333; /* Darker text for better visibility */
}

.header-scrolled .navbar-toggler {
  border-color: #333; /* Optional: change toggle button style if needed */
}

.fancy-box-01 {
  position: relative;
}
.fancy-box-01 .left-f {
  border: 10px solid;
  border-right: none;
  height: 100%;
  width: 3rem;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.fancy-box-01 .right-f {
  border: 10px solid;
  border-left: none;
  height: 100%;
  width: 3rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.bg-primary-light {
  background-color: rgba(248, 78, 119, 0.08);
}

.border-primary {
  border-color: #f84e77 !important;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-sm {
  line-height: 1.25 !important;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  color: #101010;
  letter-spacing: -0.02em;
}

.white-text .display-1,
.white-text .display-2,
.white-text .display-3,
.white-text .display-4 {
  color: #ffffff;
}

.fancy-box-01 {
  position: relative;
}
.fancy-box-01 .left-f {
  border: 10px solid;
  border-right: none;
  height: 100%;
  width: 3rem;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.fancy-box-01 .right-f {
  border: 10px solid;
  border-left: none;
  height: 100%;
  width: 3rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* rooms section */

.rooms-section {
  background-color: #f8f9fa; /* Light background for the section */
}

.rooms-section img {
  width: 100%;
  height: auto;
}

.rooms-section h3 {
  margin-top: 0;
  color: #333;
}

.no-gutters {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.rooms-section p,
.rooms-section ul {
  color: #666;
}

.rooms-section .btn-primary {
  margin-right: 10px; /* Space between buttons */
}

.rooms-section .btn-outline-primary {
  color: #007bff; /* Bootstrap primary color */
  border-color: #007bff; /* Consistent with outline color */
}

/* services section */
.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card-body {
  text-align: center;
}

.btn-primary {
  background-color: #ff5733; /* Custom primary color */
  border: none;
}

/* Adjusting heading styles */
.card-title {
  color: #ff5733;
  font-size: 1.25rem;
}

/* Gallery */

.card {
  border: none;
  background: #f8f9fa; /* Light background for the card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduced box shadow for a subtle effect */
}

.card-body {
  padding-left: 0; /* Standard padding for card body */
}

.card img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease; /* Smooth transform for hover effects */
}

.btn.position-absolute {
  background-color: transparent; /* Transparent background for the button */
  border: none;
  cursor: pointer; /* Cursor indicates the image/button is clickable */
}

.btn i.fa-play {
  color: #007bff; /* Bootstrap primary color for the play icon */
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5); /* Text shadow to make the icon stand out */
}

/* Testimonials */

.section-testimonials {
  background-color: #f8f9fa;
}

.card-body blockquote {
  font-style: italic;
  color: #555;
}

.card-body img {
  border: 3px solid #fff; /* White border around the image for better separation from background */
}

.blockquote-footer {
  color: #666;
  font-size: 0.875rem;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #343a40;
  color: #f8f9fa;
}

footer a {
  color: #f8f9fa;
  transition: color 0.3s;
}

footer a:hover {
  color: #adb5bd;
}

footer h5 {
  color: #ffffff;
  margin-bottom: 20px;
}

footer p {
  font-size: 14px;
  line-height: 1.7;
  color: #ced4da;
}

.social-icons a {
  font-size: 18px; /* Adjust the size of the icons */
}
